<div class="main-header">
  <div class="left-header">
    <div class="app-name">
      <%= link_to "ぷろまね" , "#" %>
    </div>

  </div>
  <div class="right-header">
    <div class="create-project">
      <%= link_to "プロジェクトを作成する", "#" %>
    </div>
        <div class="user-name">
      <%= link_to "ユーザー：hoge", "#"%>
    </div>
  </div>
</div>