<div class="main-header">
  <div class='header-inner'>
    <div class="left-header">
      <div class="app-name">
        <%= link_to "ぷろまね" , root_path %>
      </div>
    </div>
    <div class="right-header">
      <div class="user-name">
        <div class="user-name-display">
          <%= link_to "ニックネーム：#{current_user.nickname}", user_path(current_user) %>
        </div>
        <div class="logout-btn">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>