<div class="task-index">
  <div class="task-name">
    <%= task.task_name %>
  </div>
  <div class="person-in-charge">
    <%= task.person_in_charge %>
  </div>
  <div class="plan">
    <%= task.plan %>
  </div>
  <div class="completion_date">
    <%= task.deadline %>
  </div>
</div>
