<div class="wrapper">
  <%= render partial: "shared/header"%>
  <div class="main">
    <div class="inner">
      <h1 class="page-heading"><%= "#{current_user.nickname}" %>のプロジェクト一覧</h1>
      <div class="card__wrapper">
        <%= render partial: "shared/main_project", collection: @projects, as: :project %>
      </div>
    </div>
  </div>
</div>