.wrpper {
  display: flex;
}

.main-header {
  display: flex;
  height: 100px;
}

.left-header {
  background-color: #253141;
  width: 300px;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-name {
  display: flex;
  margin: 0, auto;
}

.app-name a {
  color: #fafafa;
  font-size: 34px;
  text-decoration: none;
}

.right-header {
  background-color: #2f3e51;
  height: 100px;
  width: calc(100% - 300px);
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.user-name {
  color: #fafafa;
  width: 300px;
  text-align: center;
}

.user-name-display {
  margin-top:  20px;
}

.user-name-display a {
  color: #fafafa;
  font-size: 20px;
  text-decoration: none;
}

.logout-btn {
  margin-top:  10px;
}

.logout-btn a {
  color: #f05050;
  font-size: 12px;
  text-decoration: none;

}

.create-project {
  width: 100%;
  display: flex;
  text-align: center;
}


.create-project a {
  border: 1px solid darkred;
  background-color: rgba(0, 162, 255, 0.863);
  color: darkred;
  width: 100%;
  border-radius: 10px;
  margin: 20px;
  text-decoration: none;
  font-size: 34px;
  line-height: 60px;
  letter-spacing: 20px;
  box-shadow: 5px 5px black;
}

.create-project :hover {
  background-color: rgb(0, 191, 255);
}

.create-project :active {
  box-shadow: none;
  position: relative;
  top: 5px;
  left: 5px;
}

.main {
  background-color: #fafafa;
}

.inner {
  width: 1024px;
  margin: 0 auto;
}

.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}

.card__wrapper {
  background-color: #fafafa;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 188px);
}

.title {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.edit-btn {
}

.edit-btn a {
  border: 1px solid darkred;
  background-color: rgba(0, 162, 255, 0.863);
  color: darkred;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 2px 2px black;
  text-decoration: none;
}

.edit-btn :active {
  box-shadow: none;
  position: relative;
  top: 2px;
  left: 2px;
}

.card {
  width: calc((100% - 50px) / 2);
  margin-bottom: 40px;
  height: 250px;
  overflow: scroll;
}

.task-index {
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.task-name {
  width: 200px;
  height: 30px;
  line-height: 30px;
  border: 1px solid black;
  text-align: center;
  overflow: scroll;
  white-space: nowrap;
}

.person-in-charge {
  width: 100px;
  height: 30px;
  line-height: 30px;
  border: 1px solid black;
  text-align: center;
}

.plan {
  width: 50px;
  height: 30px;
  line-height: 30px;
  border: 1px solid black;
  text-align: center;
}

.completion_date {
  width: 50px;
  height: 30px;
  line-height: 30px;
  border: 1px solid black;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}

h1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.chat-room-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.chat-room-form__errors {
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
.chat-room-form__label {
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-align: right;
}
.chat-room-form__input {
  float: left;
  width: 100%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.chat-room-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #38aef0;
  border: 0;
}
.chat-room-form__field {
  margin-top: 30px;
}
.chat-room-form__field:after {
  content: "";
  clear: both;
  display: block;
}
.chat-room-form__field--left {
  float: left;
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.chat-room-form__field--right {
  float: right;
  width: 70%;
}

.chat-room-user {
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  width: 500px;
  margin: 0 auto;
}
.chat-room-user:after {
  content: "";
  clear: both;
  display: block;
}
.chat-room-user__name {
  float: left;
}
.chat-room-user__btn {
  float: right;
  display: inline-block;
  cursor: pointer;
}
.chat-room-user__btn--add {
  color: #38aef0;
}
.chat-room-user__btn--remove {
  color: #f05050;
}

.chat-room-user__name a {
  text-decoration: none;
  color: #38aef0;
}

select {
  width: 500px;
  height: 50px;
}

.top-header {
  background-color: #434a54;
  height: 80px;
  width: 100%;
}

.field_with_errors{
  display: contents;
}
