/* ヘッダー */
.main-header {
  background-color: #2f3e51;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-inner {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.left-header {
  height: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-name {
  display: flex;
  margin: 0, auto;
}

.app-name a {
  color: #fafafa;
  font-size: 34px;
}

.right-header {
  background-color: #2f3e51;
  height: 80px;
}

.user-name {
  color: #fafafa;
  text-align: center;
  display: flex;
  justify-content: end;
}

.user-name-display {
  padding-top: 30px;
}

.user-name-display a {
  color: #fafafa;
  font-size: 20px;
  margin-right: 20px;
}

.logout-btn {
  padding-top: 33px;
}

.logout-btn a {
  background-color: #fafafa;
  color: black;
  padding: 7px 14px;
  font-size: 14px;
}

/* インデックス */
.main {
  background-color: #fafafa;
  min-height: calc(100vh - 80px);

}

.inner {
  width: 80%;
  margin: 0 auto;
}

.create-project {
  width: 100%;
  display: flex;
  text-align: center;
}


.create-project a {
  border: 1px solid black;
  background-color: #2f3e51;
  color: #fafafa;
  width: 40%;
  border-radius: 10px;
  margin: 10px auto;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 10px;
  box-shadow: 5px 5px black;
}

.create-project :hover {
  background-color:  #44576ec9;
}

.create-project :active {
  box-shadow: none;
  position: relative;
  top: 5px;
  left: 5px;
}

.page-heading {
  font-size: 30px;
  margin: 14px 0;
}

/* 部分テンプレートproject */
.card__wrapper {
  background-color: #fafafa;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.title-inner {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.project-name {
  width: 70%;
  overflow: scroll;
  white-space: nowrap;
}

.edit-btn a {
  border: 1px solid black;
  background-color: #fafafa;
  color: black;
  padding: 5px;
  border-radius: 3px;
}

.card {
  width: calc((100% - 50px) / 2);
  margin: 0 auto 40px;
  height: 250px;
  overflow: scroll;
}

.task-index {
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.cover {
  color: #253141;
  text-decoration: none;
}

.task-name {
  width: 200px;
  height: 30px;
  line-height: 30px;
  border: 1px solid black;
  text-align: center;
  overflow: scroll;
  white-space: nowrap;
  text-decoration: none;
}

.person-in-charge {
  width: 100px;
  height: 30px;
  line-height: 30px;
  border: 1px solid black;
  text-align: center;
}

.plan {
  width: 80px;
  height: 30px;
  line-height: 30px;
  border: 1px solid black;
  text-align: center;
}

.completion_date {
  width: 80px;
  height: 30px;
  line-height: 30px;
  border: 1px solid black;
  text-align: center;
}

.tag {
  background-color: #2f3e51;
  color: #fafafa;
}

.task-edit {
  width: 100px;
  height: 30px;
  line-height: 30px;
  border: 1px solid black;
  text-align: center;
}

.task-edit a {
  border: 1px solid black;
  background-color: #fafafa;
  color: black;
  padding: 3px 15px;
  border-radius: 3px;
}

h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}

h1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.project-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.project-form__errors {
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
.project-form__label {
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-align: right;
}
.project-form__input {
  float: left;
  width: 100%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.project-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #38aef0;
  border: 0;
}
.project-form__field {
  margin-top: 30px;
}
.project-form__field:after {
  content: "";
  clear: both;
  display: block;
}
.project-form__field--left {
  float: left;
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.project-form__field--right {
  float: right;
  width: 70%;
}

.project-user {
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  width: 500px;
  margin: 0 auto;
}
.project-user:after {
  content: "";
  clear: both;
  display: block;
}
.project-user__name {
  float: left;
}
.project-user__btn {
  display: inline-block;
  cursor: pointer;
}
.project-user__btn--add {
  color: #38aef0;
}
.project-user__btn--remove {
  color: #f05050;
}

.project-user__name a {
  text-decoration: none;
  color: #38aef0;
}

select {
  width: 500px;
  height: 50px;
}

.top-header {
  background-color: #434a54;
  height: 80px;
  width: 100%;
}

.field_with_errors{
  display: contents;
}

/* showのビュー */


.operation-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.delete-btn {
  margin-left: 10px;
}

.delete-btn a {
  border: 1px solid black;
  background-color: #fafafa;
  color: black;
  padding: 5px;
  border-radius: 3px;
}

.delete-btn :hover {
  background-color: red;
}

.task-cover {
  display: flex;
}

.task-input {
  width: 200px;
  height: 30px;
  margin-right: 10px;
}

.person-in-charge-input {
  width: 100px;
  height: 30px;
  margin-right: 10px;
}

.plan-input {
  width: 180px;
  height: 30px;
  margin-right: 10px;
}

.completion-date-input {
  width: 180px;
  height: 30px;
  margin-right: 10px;
}

.actions {
  padding: 15px;
}

.calendar {
  display: flex;
}

.schedule-wrapper {
  display: flex;
}
